* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
}

window#waybar {
  background: #1e1e1e;
  color: white;
}

#custom-arch {
  color: #1793d1;
  padding: 0 10px;
}

#tray, #battery, #cpu, #custom-ip, #custom-center_text,
#custom-dnd, #pulseaudio, #clock, #custom-power {
  padding: 0 10px;
}

#workspaces button {
  color: #969696;
  border: none;
}

#workspaces button:hover {
  background: transparent;
  color: #969696;
  border: none;
  box-shadow: none;
  outline: none;
}

#workspaces button.active {
  color: white;
}

#custom-power {
  color: #ff5555;
}
